In [ ]:
list = []

In [ ]:
list.append([1, 10])

In [ ]:
list.append([2, 100])

In [ ]:
list

In [ ]:
list = {}

In [ ]:
list[1] = [0, 1, 2]

In [ ]:
list

In [ ]:
list[1][0:2]

In [ ]:
import datetime
print(datetime.datetime.now())

In [ ]:
time = datetime.datetime.now()

In [ ]:
time

In [ ]:
list[1].append(datetime.now())

In [ ]:
list[1][3]

In [ ]:
from datetime import datetime
now = datetime.now()
now_without_microseconds = now.replace(microsecond=0)
print(now_without_microseconds)

In [ ]:
list[1].append(now_without_microseconds)

In [ ]:
list

In [ ]:
from datetime import datetime
now = datetime.now()
now_without_microseconds_1 = now.replace(microsecond=0)

In [ ]:
from datetime import datetime
now = datetime.now()
now_without_microseconds_2 = now.replace(microsecond=0)

In [ ]:
sec = now_without_microseconds_2 - now_without_microseconds_1
sec

In [ ]:
if sec.seconds >= 9: 
    print('yes')
else :
    print('no')

In [ ]:
lst = []

In [ ]:
lst.append('dke')

In [ ]:
lst.append(now_without_microseconds_1)

In [ ]:
lst

In [ ]:
[[ 1 , a001 , 1 ], [1, b001, 1], [2, a001, 1], [1, a001, 1]]

In [ ]:
data = [[1, "a001", 1], [1, "b001", 1], [2, "a001", 1], [1, "a001", 1]]

# Extract the third element from sublists where the first element is 1 and the second element is "a001"
extracted_values = [sublist[2] for sublist in data if sublist[0] == 1 and sublist[1] == "a001"]
extracted_values

In [ ]:
data

In [ ]:
data = {1 : [[1],[2],[3]]}

In [ ]:
data[1][2]

In [ ]:
data = []

In [ ]:
data.append([1,2])

In [ ]:

data

In [ ]:
import mysql.connector

def update_db_data(data):
    # MySQL 연결 정보 설정
    config = {
        'user': 'root',
        'password': '0000',
        'host': '127.0.0.1',
        'database': 'security',
        'port': 3306,
        'raise_on_warnings': True
    }

    # 데이터베이스에 연결
    cnx = mysql.connector.connect(**config)

    # 커서 객체 생성
    cursor = cnx.cursor()

    # 데이터를 업데이트하는 SQL 쿼리 작성
    update_query = ("UPDATE lastpro_dan "
                    "SET USER_ID = %s, SHOP_ID = %s, DAN_V_ID = %s, DAN_TIME = %s, DAN_CODE = %s ")

    # 데이터 업데이트
    cursor.executemany(update_query, data)

    # 변경 사항 커밋
    cnx.commit()

    # 커서 및 연결 닫기
    cursor.close()
    cnx.close()

In [ ]:
import mysql.connector

def update_db_data(data):
    # MySQL 연결 정보 설정
    config = {
        'user': 'root',
        'password': '0000',
        'host': '127.0.0.1',
        'database': 'security',
        'port': 3306,
        'raise_on_warnings': True
    }

    # 데이터베이스에 연결
    cnx = mysql.connector.connect(**config)

    # 커서 객체 생성
    cursor = cnx.cursor()

    # 데이터를 업데이트하는 SQL 쿼리 작성
    update_query = ("UPDATE lastpro_dan "
                    "SET USER_ID = %s, SHOP_ID = %s, DAN_V_ID = %s, DAN_TIME = %s, DAN_CODE = %s ")

    # 데이터 업데이트
    cursor.executemany(update_query, data)

    # 변경 사항 커밋
    cnx.commit()

    # 커서 및 연결 닫기
    cursor.close()
    cnx.close()

In [10]:
import mysql.connector

def insert_db_data(data):
    # MySQL 연결 정보 설정
    config = {
        'user': 'root',
        'password': '0000',
        'host': '127.0.0.1',
        'database': 'security',
        'port': 3306,
        'raise_on_warnings': True
    }

    # 데이터베이스에 연결
    cnx = mysql.connector.connect(**config)

    # 커서 객체 생성
    cursor = cnx.cursor()

    # 데이터를 삽입하는 SQL 쿼리 작성
    insert_query = ("INSERT INTO lastpro_dan "
                    "(USER_ID, SHOP_ID, DAN_V_ID, DAN_TIME, DAN_CODE) "
                    "VALUES (%s, %s, %s, %s, %s)")

    # 데이터 삽입
    cursor.execute(insert_query, tuple(data))

    # 변경 사항 커밋
    cnx.commit()

    # 커서 및 연결 닫기
    cursor.close()
    cnx.close()

In [4]:
from datetime import datetime
now = datetime.now()
now_without_microseconds_1 = now.replace(microsecond=0)

In [12]:
now

datetime.datetime(2023, 10, 17, 16, 41, 11, 274001)

In [25]:
test_data = ['a001', '#001', '1', now , 1]

In [26]:
insert_db_data(test_data)

In [7]:
import mysql.connector

In [1]:
def insert_visit(data):
    # MySQL 연결 정보 설정
    config = {
        'user': 'root',
        'password': '0000',
        'host': '127.0.0.1',
        'database': 'security',
        'port': 3306,
        'raise_on_warnings': True
    }

    # 데이터베이스에 연결
    cnx = mysql.connector.connect(**config)

    # 커서 객체 생성
    cursor = cnx.cursor()

    # 데이터를 삽입하는 SQL 쿼리 작성
    insert_query = ("INSERT INTO lastpro_visit "
                    "(USER_ID, SHOP_ID,  V_ID,  V_ENTIME) "
                    "VALUES (%s, %s, %s, %s)")

    # 데이터 삽입
    cursor.execute(insert_query, tuple(data))

    # 변경 사항 커밋
    cnx.commit()

    # 커서 및 연결 닫기
    cursor.close()
    cnx.close()

In [9]:
data01 = ["a001", "#001", 1 , now ]

In [8]:
insert_visit(data01)